body {
  background-color: rgb(41, 45, 35);
}

h1 {
  color:  rgb(239, 221, 197);
  text-align: center;
}

a {
  text-decoration: none;
  margin: auto;
}

a:visited {
  color: purple;
}

a:link {
  color:blue;
}

a:hover {
  color: red;
}

img.image {
  border: 5px solid rgb(83, 83, 83);
  border-bottom: 0px;
  margin: auto;
  display: block;
}

.recipes {
  height: 115px;
  width: 750px;
  background-color: rgb(249, 228, 198);
  border: 5px solid rgb(83, 83, 83);
  border-top: 0px;
  margin:-5px auto;
  display: flex;
}


.item {
  font-size: 28px;
  color: rgb(202, 187, 187);
  display: inline-flex;
  flex: 1;
}

